.footer-container {
  width: 100% !important;
  padding: 5vh 5vw;
  display: flex;
  background-color: rgba(18, 6, 180, 1);
  height: 50vh;
  bottom: 0;
  flex-grow: 1;
  color: white;
  /* opacity: 1 !important; */
  z-index: 9999 !important;
  position: relative;
}

.half-columns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
}

.logo-image-sizing {
  width: 20vw;
  height: 10vh;
  /* padding: 0 !important; */
  /* margin: 0 5vw; */
}

.wrapper {
  display: grid;
  grid-template-columns: 20vw 20vw;
  grid-template-rows: 7vh 7vh;
  /* height: 10vh; */
}
.fixing-container-size {
  min-width: 50%;
  min-height: 30vh;
}
.footer-links {
  padding: 0;
  margin: 0;
}
h5 {
  font-size: 1.3vw !important;
}
.footer-bottom {
  display: flex;
  /* align-content: center; */
  justify-content: center;
  bottom: 0;
  position: relative;
}

.footer-bottom-content {
  padding: 0 2vw;
  font-size: 1.25vw;
}

.footer-bottom-content + .footer-bottom-content {
  border-left: solid 1px white;
}
